{% extends "admin_base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1 class="display-2">Admin!!</h1>
    <hr>

    <h4 class="display-4">{{ texto  }}</h4>
{% endblock %}