<html>
    <head>
        <meta chearset="utf-8">
        <title>Admin Page</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="row mt-5">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <div class="col-md-12">
                       Olá {{ app.user.username }}
                    </div>
                {% endif %}
                <div class="col-md-12">
                    {% if is_granted("ROLE_USER") %}
                        <a href="{{ path("admin") }}" class="btn btn-default">Home</a>
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                        <a href="{{ path("dashboard") }}" class="btn btn-default">Dashboard</a>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path("relatorios") }}" class="btn btn-default">Relatórios</a>
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                        <a href="{{ path("logout") }}" class="btn btn-default">Logout</a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>